@page "/todo"
@rendermode InteractiveServer
<h3>Todo (@todos.Count(x => !x.IsDone))</h3>
<input @bind="newTodo">
<button @onclick="AddTodo">Add todo</button>

<ul style="list-style-type: none;">
    @foreach(var todo in todos)
    {
        <br />
        <li>
        <input type="checkbox" @bind="todo.IsDone">
        <input @bind="todo.Title">
        </li>
        
    }

</ul>

@code {
    List<TodoItem> todos = new List<TodoItem>();
    string newTodo = "";

    public class TodoItem
    {
        public string Title { get; set; }
        public bool IsDone { get; set; }
    }
    private void AddTodo(MouseEventArgs e)
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = "";
        }
    }
}
